.animatedbg {
   -webkit-animation: loader 64s steps(2000) infinite; 
   -moz-animation: loader 64s steps(2000) infinite;
    -ms-animation: loader 64s steps(2000) infinite; 
    -o-animation: loader 64s steps(2000) infinite; 
    animation: loader 64s steps(2000) infinite;
  }
  
  @-webkit-keyframes loader {
    from { background-position: 0; } to { background-position: -1600px 0; }
  }
  @-moz-keyframes loader {
     from { background-position: 0; } to { background-position: -1600px 0; 
    }
  }
  
  @-ms-keyframes loader {
     from { background-position: 0; } to { background-position: -1600px 0; }
  }

  @-o-keyframes loader {
     from { background-position: 0; } to { background-position: -1600px 0; }
    }
    
  @keyframes loader {
     from { background-position: 0; } to { background-position: -1600px 0; 
    }
  }